/*  your css code here. If applicable */
.container{
  padding: 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle{
  width: 100px;
  height: 100px;
}

#green{
  background-color: green;
  border-radius: 50%;
}

#yellow{
  background-color: yellow;
  border-radius: 50%;
}

#red{
  background-color: red;
  border-radius: 50%;
}